.main-menu{
  margin: auto;
  width: 100%;
}

.main-menu div{
  background: #3f33272f;
  height: 100px;
  width: 100px;
  border: 0.7px solid rgba(73, 66, 66, 0.24);
  border-radius: 12%;
  display: inline-flex;
  margin: 10px;
}
